<!DOCTYPE html>
<html>
<head>
    <title>talks</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    .talk-row div{border: 1px #ccc solid; display: flex; align-items: center;/* justify-content: center;*/}
    .talk-row div.bottom-col{border-top: 0;}
</style>

<body>

<div th:replace="layout/header :: header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <div id="page-title" class="row">
            <div class="col-xs-12">
                <h1>1A AUTO Talks</h1>
            </div>
        </div>
        <div id="page-subtitle">
            <h3>Description</h3>
        </div>
        <div id="talk-row">
            <div id="talk-description" class="col-xs-12">
                <p th:text="${talk.description}"></p>
            </div>
        </div>

        <div id="talk-ratings-row">
            <div id="talk-ratings" class="col-xs-12">

            </div>
        </div>

    </div>
    <div th:replace="layout/footer :: footer">&copy; 2016 The Static Templates</div>
</div>

</body>
</html>